{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
</head>
<body>
      <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
          <h1> <span><img src="{% static 'assets/pws-word.png' %}"></span>
          </h1>
        </div>

        <div class="sidebar-menu">
          <ul>
            {% if request.user.is_authenticated %}
            <li>
              <a href="#">
                <span class="fas fa-users" ></span>
                <span>{{ request.user.first_name }}</span>
              </a>
            </li>
            {% else %}
            {% endif %}
              <li>
              <a href="{% url 'Compiler:Main_Compiler' %}">
                <span class="fas fa-tachometer-alt"></span>
                <span>Compiler</span>
              </a>
            </li>
            <li>
              <a href="{% url 'Compiler:Pratice' %}">
                <span class="fas fa-stream"></span>
              <span>Practice</span>
              </a>
            </li>

            <li>
              <a href="{% url 'Compiler:All_Contest' %}"  class="active">
                <span class="fas fa-boxes"></span>
                <span>Competition</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fas fa-user-circle"></span>
                <span>Manage Profile</span>
              </a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
              <a href="{% url 'Compiler:Logout' %}">
                <span class="fas fa-tasks"></span>
                <span>Logout</span>
              </a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'Compiler:Login' %}">
                <span class="fas fa-tasks"></span>
                <span>Login</span>
              </a>
            </li>
            {% endif %}
          </ul>

        </div>
    </div>

    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="fas fa-bars"></span>
          </label>
          {% if request.user.is_authenticated %}
         Welcome, {{ request.user.first_name }} to pulley web compiler...
          {% else %}
          Welcome, to pulley web compiler..
          {% endif %}
        </h2>

        <div class="search-wrapper">
          <span class="fas fa-search"> </span>
          <input type="search" placeholder="Search..." />

        </div>

        <div class="user-wrapper">
         <img src="https://media-exp1.licdn.com/dms/image/C5103AQGd1Q7QeOkk2w/profile-displayphoto-shrink_400_400/0/1570086262982?e=1626307200&v=beta&t=hzxahV3DjxVr5YViy4QGGv8xssHJ0IwogiPxwjzX5F4" width="40px" height="40px" alt="profile-img">
         <div class="">
            <h4>{{ request.user.first_name }} {{ request.user.last_name  }}</h4>
            <small>Developer</small>
         </div>
        </div>
      </header>


      <main>
        
  <div class="recent-grid">
          <div class="projects">
            <div class="card">
              <div class="card-header">
                <h2>Problem Statments</h2>
                <!--<button>See all <span class="fas fa-arrow-right"></span> </button>-->
                  <span>your test score: 0</span>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table width="100%">
                  <thead>
                    <tr>
                      <td width="55%">Problem</td>
                      <!--<td>Department</td>-->
                      <td>Status</td>
                    <td>Attempt</td>
                    </tr>
                  </thead>
                  <tbody>

                  {% for con in contest_question %}
                    {% if contest_data == con.contest_id %}
                    <tr>

                      <td>{{ con.title }}</td>
                      <!--<td>Frontend</td>-->
                      <td>
                        <span class="status purple"></span>
                        Review
                      </td>
                       <td><a href="{% url 'Compiler:Solve_Competition_Problem' con.id %}"><button>Solve <span class="fas fa-arrow-right"></span> </button></a></td>
                    </tr>
                    {% else %}
                    {% endif %}
                  {% endfor %}


                  </tbody>

                </table>
                </div>
              </div>

            </div>

          </div>
          <div class="customers">
            <div class="card">
              <div class="card-header">
                  <h2>Top Peformer</h2>
                  <button>See all <span class="fas fa-arrow-right"></span> </button>
              </div>
              <div class="card-body">
                <div class="customer">
                  <div class="info">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQGd1Q7QeOkk2w/profile-displayphoto-shrink_400_400/0/1570086262982?e=1626307200&v=beta&t=hzxahV3DjxVr5YViy4QGGv8xssHJ0IwogiPxwjzX5F4" height="40px" width="40px" alt="customer">
                    <div>
                      <h4>Pavitra Sharma</h4>
                      <small>UIT-RGPV</small>
                    </div>
                  </div>
                  <div class="contact">
                      Score: 100pts
                    </div>
                </div>
                <div class="customer">
                  <div class="info">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQGd1Q7QeOkk2w/profile-displayphoto-shrink_400_400/0/1570086262982?e=1626307200&v=beta&t=hzxahV3DjxVr5YViy4QGGv8xssHJ0IwogiPxwjzX5F4" height="40px" width="40px" alt="customer">
                    <div>
                      <h4>Pavitra Sharma</h4>
                      <small>UIT-RGPV</small>
                    </div>
                  </div>
                  <div class="contact">
                      Score: 100pts
                    </div>
                </div>
                <div class="customer">
                  <div class="info">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQGd1Q7QeOkk2w/profile-displayphoto-shrink_400_400/0/1570086262982?e=1626307200&v=beta&t=hzxahV3DjxVr5YViy4QGGv8xssHJ0IwogiPxwjzX5F4" height="40px" width="40px" alt="customer">
                    <div>
                      <h4>Pavitra Sharma</h4>
                      <small>UIT-RGPV</small>
                    </div>
                  </div>
                  <div class="contact">
                      Score: 100pts
                    </div>
                </div>
               <div class="customer">
                  <div class="info">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQGd1Q7QeOkk2w/profile-displayphoto-shrink_400_400/0/1570086262982?e=1626307200&v=beta&t=hzxahV3DjxVr5YViy4QGGv8xssHJ0IwogiPxwjzX5F4" height="40px" width="40px" alt="customer">
                    <div>
                      <h4>Pavitra Sharma</h4>
                      <small>UIT-RGPV</small>
                    </div>
                  </div>
                  <div class="contact">
                      Score: 100pts
                    </div>
                </div>
               <div class="customer">
                  <div class="info">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQGd1Q7QeOkk2w/profile-displayphoto-shrink_400_400/0/1570086262982?e=1626307200&v=beta&t=hzxahV3DjxVr5YViy4QGGv8xssHJ0IwogiPxwjzX5F4" height="40px" width="40px" alt="customer">
                    <div>
                      <h4>Pavitra Sharma</h4>
                      <small>UIT-RGPV</small>
                    </div>
                  </div>
                  <div class="contact">
                      Score: 100pts
                    </div>
                </div>
                <div class="customer">
                  <div class="info">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQGd1Q7QeOkk2w/profile-displayphoto-shrink_400_400/0/1570086262982?e=1626307200&v=beta&t=hzxahV3DjxVr5YViy4QGGv8xssHJ0IwogiPxwjzX5F4" height="40px" width="40px" alt="customer">
                    <div>
                      <h4>Pavitra Sharma</h4>
                      <small>UIT-RGPV</small>
                    </div>
                  </div>
                  <div class="contact">
                      Score: 100pts
                    </div>
                </div>
                <div class="customer">
                  <div class="info">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQGd1Q7QeOkk2w/profile-displayphoto-shrink_400_400/0/1570086262982?e=1626307200&v=beta&t=hzxahV3DjxVr5YViy4QGGv8xssHJ0IwogiPxwjzX5F4" height="40px" width="40px" alt="customer">
                    <div>
                      <h4>Pavitra Sharma</h4>
                      <small>UIT-RGPV</small>
                    </div>
                  </div>
                  <div class="contact">
                      Score: 100pts
                    </div>
                </div>
              </div>
            </div>

          </div>
          
        </div>  

      </main>
    </div>
    <script src="./assets/main.js"></script>
</body>
</html>